{{>message}}
<div class="container mt-5">
    <div class="row">
        {{#each tutors}}
        <div class="col-md-2 mb-4">
            <div class="card">
                <img class="card-img-top"
                    src="https://twirpz.files.wordpress.com/2015/06/twitter-avi-gender-balanced-figure.png"
                    alt="{{firstName}} {{lastName}}'s picture">
                <div class="card-body">
                    <h5 class="card-title">{{firstName}} {{lastName}}</h5>
                    <p class="card-text">Email: {{email}}</p>
                    <a href="#" class="btn btn-primary">Book Now</a>
                    <a href="/tutorProfile/{{id}}" class="btn btn-secondary">View Rating</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>